* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

#playerId,
#gameStatus {
  color: #666;
}

#startGameButton, 
#playAgainButton
{
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

/* Maze styles */
#mazeContainer {
  margin: auto;
}

body {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#playerId,
#gameStatus {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

#mazeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  max-width: 500px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.3s ease;
}

.wall {
  background-color: rgba(0, 0, 0, 1);
}

.player {
  background-attachment: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255, 0, 0, 1);
  background-image: url("./assets/player2.png");
}

.player.current-player {
  background-color: rgba(0, 255, 0, 1);
  background-image: url("./assets/player1.png");
}

.goal {
  background-attachment: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255, 215, 0, 1);
  background-image: url("./assets/destination.png");
}

.hidden {
  display: none;
}